@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.bg-hero {
  background-image: url('../assets/images/hero-bg.jpg');
}

.reverse {
  background: linear-gradient(to left, #f7a582, #65e3c6, #f7a582);
}

@media (width < 768px) {
  .transform-custom {
    transform-origin: top;
    transform: perspective(999px) rotateX(-30deg) translateZ(0) translateZ(5px) !important;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
  }
  .undo-transform-custom {
    transform-origin: top;
    transform: perspective(999px) rotateX(0deg) translateZ(0) translateZ(5px) !important;
    visibility: visible;
    opacity: 1;
    transition: 300ms;
  }
}

/* sticky css for header  */
@keyframes sticky {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

.headerFixed {
  animation: sticky 0.5s 1;
  z-index: 9999 !important;
  position: sticky;
  top: 0;
}
